<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Blog</title>
  <link rel="stylesheet" href="/css/style.css">
</head>
<body>
  <header>
    <h3>TTB</h3>
    <nav>
      <a href="/" class="{{#if isHome}}active{{/if}}">Home</a>

      {{#if isComment}}
        <a href="/logout" class="active">Logout</a>
      {{else}}
        {{#if isEdit}}
          <a href="/logout" class="active">Logout</a>
        {{else}}
          {{#if isLoggedIn}}
            {{#if isDashboard}}
              <a href="/logout" class="active">Logout</a>
            {{else}}
              <a href="/dashboard">Dashboard</a>
              <a href="/logout" class="active">Logout</a>
            {{/if}}
          {{else}}
            <a href="/register" class="{{#if isRegister}}active{{/if}}">Register</a>
            <a href="/login" class="{{#if isLogin}}active{{/if}}">Login</a>
          {{/if}}
        {{/if}}
      {{/if}}
    </nav>
  </header>

  {{{body}}}
</body>
</html>
