<h1>WComment</h1>

    <li class="titleBar">
      <h1>{{title}}</h1>
    </li>
    <li class= "textBar">
      <p>{{text}}</p>
      
    <ul>
  {{#each comments}}
      <p>Posted by {{../user/username}}. on {{formattedCreatedAt}}</p>
    </li>
    <li class= "textBar">
      <p>{{text}}</p>
      
    </li>
    
  {{/each}}
</ul>


   
<form action="/comment/{{id}}" method="POST">
 <input type="hidden" name="thoughtId" value="{{id}}">
  <h1>Comment</h1>  
  <input class = "addThought" name="text" type="text" placeholder="" value="{{comment.text}}">
  <button class = "addcommentButtom" addComment-id="{{id}}" type="submit">Submit</button>
</form>


