{{!-- <h1>Dashboard</h1> --}}

<!-- Form to add a new thought -->
<form action="/thought" method="POST">
  <input name="title" type="text" placeholder="Title">
  <input name="text" type="text" placeholder="Share your thought">
  <button type="submit">Save</button>
</form>

<h1>Dashboard</h1>
<ul>
  {{#each thoughts}}
    <li class="titleBar">
      <h1>{{title}}</h1>

      <p>Posted by {{../user/username}}. on {{formattedCreatedAt}}</p>
    </li>
    <li class= "textBar">
      <p>{{text}}</p>
      
    </li>
    <a class="black-text" href="/edit/{{this.id}}">Edit Post</a>
  {{/each}}
</ul>


