<h1>Dashboard</h1>

<!-- Form to add a new thought -->
<form action="/thought" method="POST">
  <input name="title" type="text" placeholder="Title">
  <input name="text" type="text" placeholder="Share your thought">
  <button type="submit">Save</button>
</form>

<ul>
  {{#each thoughts}}
    <li class="titleBar">
      <p>{{title}}</p>
      <p>Post By: {{user.username}}{{user.createdAt}}</p>
    </li>
    <li class= "textBar">
      <p>{{text}}</p>
      
    </li>
    <a href="/edit/{{this.id}}">Edit Post</a>
  {{/each}}
</ul>