<h1>Edit Post</h1>


    <li class="titleBar">
      <h1>{{title}}</h1>
    </li>
    <li class= "textBar">
      <p>{{text}}</p>
      
    </li>


   
<form action="/edit/{{id}}" method="POST">
 <input type="hidden" name="_METHOD" value="PUT">
  <input class = "updateTitle" name="title" type="text" placeholder="New Title" value="{{thought.title}}">
  <input class = "updateThought" name="text" type="text" placeholder="New Text" value="{{thought.text}}">
  <button class = "updateButtom" updateThough-id="{{id}}" type="submit">Update</button>
</form>

<form action="/edit/{{id}}" method="DELETE">
 
  <button class="remove-button" data-recipe-id="{{id}}" type="submit">Delete</button>
</form>

<script src="/js/edit.js"> </script>




