<h1>The Tech Blog</h1>
<!-- Output each user's email address, using a handlebars each loop -->
<ul>
  {{#each thoughts}}
    <li class="titleBar">
      <h1>{{title}}</h1>
      <p>Posted by {{user.username}} on {{formattedCreatedAt}}</p>
    </li>
    <li class= "textBar">
      <p>{{text}}</p>
      
    </li>
    <a class="black-text" href="/edit/{{this.id}}">Edit Post</a>
  {{/each}}
</ul>